body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-header{
  background-color: #ffffff;
  height: 56px;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.site-navigation {
  list-style: none;
  color: #000000
}


.navigation-item:hover a{
  color: #81b3d2;
}

.navigation-item:active a{
  color: #a9a9a9;
}

.promo {
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

 h1{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main-reasons {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
list-style: none;
}

.additionally {
list-style: none;
text-align: center;
}

.reasons-content {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  width: 400px;
  height: 256px;
}

.reasons-list {
  background-color: #eeeeee;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.search-description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.popup-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  height: 86px;
  border: none;
}

.popup-button:hover {
  background-color: #604e43;
}

.popup-button:focus {
  background-color: #604e43;
}

.popup-button:active {
  background-color: #503e33;
  color: #857871;
}

.hotels-popup {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.calendar {
  border: none;
  background-color: #ffffff;
}

.plus {
  border: none;
  background-color: #ffffff;
}

.minus {
  border: none;
  background-color: #ffffff;
}

.hotels-form input {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.search-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
}

.search-button:hover {
  background-color: #669ec0;
}

.social-buttons {
  list-style: none;
}

.search-button:focus {
  background-color: #669ec0;

}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  float: left;
  margin: 5px;
  padding: 15px 15px;
}

.hashtag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.calendar-svg {
  fill: #a9a9a9;
}

.calendar-svg:hover {
fill: #000000;
}

.calendar-svg:active {
  fill: #81b3d2;
}

fieldset {
  border: none;
}

.search-form {
  background-image: url(../img/catalog-main-photo.jpg);
  background-repeat: no-repeat;
}

.hotel-item {
  list-style: none;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.features {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.sorting-results {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-type a{
color: #a9a9a9;
}

.sorting-type:hover a{
  color: #81b3d2;
}

.sorting-type:active a{
  color: #000000;
}

.arrow-down {
  border: none;
  background-color: #ffffff;
}

.arrow-up {
  border: none;
  background-color: #ffffff;
}

.arrow {
  fill: #a9a9a9;
}

.arrow:hover {
  fill: #000000;
}

.arrow:active {
 fill: #81b3d2;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-name:hover a{
  color: #81b3d2;
}

.hotel-name:active a{
  color: #a9a9a9;
}

.hotel-info {
  font-size: 14px;
  line-height: 21px;
}

.button-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
  padding: 5px 15px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.button-info:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-buy {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  width: 142px;
  height: 27px;
  padding: 5px 15px;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
}

.button-buy:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-buy:active {
  background-color: #503e33;
  color: #857871;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
  padding: 5px 15px;
  text-align: center;
  background-color: #f2f2f2;
  color: #666666;
}





