body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #00000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
}


.main-navigation a{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: #000000
}

h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main-reasons p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.reasons-list {
list-style: none;
}

.ressons-item {
  text-align: center;
}






