
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 20px -10px #000;
          box-shadow: 0px 1px 20px -10px #000;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  width: 140px;
  height: 70px;
  top: 0;
  left: 50%;
  margin-left: -70px;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  padding: 0;
}

.link-info{
  margin-left: -20px;
}

.link-media {
  margin-left: -65px;
}

.link-map {
  margin-right: -59px;
}

.link-hotels {
  margin-right: -22px;
}

.link-hotels-inner {
  color: #766357;
}

.site-navigation {
  list-style: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 56px;
  padding: 0 72px;
}

.site-navigation a {
  display: block;
  margin: 15px auto;
  vertical-align: middle;
}

.site-navigation li {
  width: 25%
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #a9a9a9;
}

.welcome {
  position: relative;
  height: 505px;
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #386e9a;
  background-image: url("../img/background-photo.jpg");
  background-position: 10% 20%;
}

.welcome::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 1200px;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
  background-position: 0 0;
}

.welcome img {
  display: block;
  padding-top: 76px;
  margin: 0 auto;
}

.description {
  margin: 0;
  text-align: center;
  width: 1200px;
  background-color: #ffffff;
  padding: 66px 0 48px;
}

.description b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 440px;
}

.description p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 25px 0 0;
  margin: 0;
}

.main-reasons {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
  list-style: none;
}

.additionally {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

.additionally li {
  width: 33.33%;
}

.reasons-content {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.reasons-img {
  display: inherit;
}

.reasons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reasons-item-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reasons-sedona {
  margin: 0;
  padding: 50px 0 20px;
}

.reasons-text {
  margin: 0;
  padding: 22px 0 0 0;
}

.reasons-list {
  background-color: #eeeeee;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 256px;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0;
}

.reasons-list li {
  width: 33.33%;
}

.recommendation-img {
  padding: 60px 0 25px;
}

.recommendation-title {
  padding-bottom: 22px;
  margin: 0;
}

.recommendation-text {
  margin: 0;
  padding-bottom: 80px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 54px 0 23px;
}

.search-description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.search {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.popup-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  height: 86px;
  border: none;
  margin: 43px 0 0;
  padding: 0;
}

.popup-button:hover {
  background-color: #604e43;
}

.popup-button:focus {
  background-color: #604e43;
}

.popup-button:active {
  background-color: #503e33;
  color: #857871;
}

.hotels-map {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/map.jpg");
  height: 593px;
  text-align: center;
}

.hotels-form {
  display: none;
  font-weight: bold;
  width: 568px;
  height: 295px;
  background-color: #ffffff;
  padding: 54px 0;
  position: absolute;
  left: 50%;
  margin-left: -284px;
}

.show-popup {
  display: block;
  -webkit-animation: scale 0.5s;
          animation: scale 0.5s;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.hotels-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  padding: 8px 0 6px 13px;
  font: inherit;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  margin-left: 20px;
  border: 1px solid transparent;
}

.hotels-form input:hover {
  background-color: #ebebeb;
}

.hotels-form input:focus {
  background-color: transparent;
  border: 1px solid grey;
}

.change-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 114px;
  padding: 9px 0 9px 53px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  margin-left: 20px;
}

.change-form {
  padding: 0 54px;
  text-align: start;
}

.adult {
  padding: 0 18px 0 0;
}

.children {
  margin: 0 5px 0 46px;
}

.calendar-1 {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 9px;
  padding: 0;
}

.plus {
  position: absolute;
  width: 6px;
  height: 13px;
  top: 15px;
  left: 202px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.plus::after,
.plus::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus:hover::after,
.plus:hover::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 11px;
  height: 3px;
  background-color: #000000;
}

.plus:active::after,
.plus:active::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 11px;
  height: 3px;
  background-color: #81b3d2;
}


.plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.minus {
  position: absolute;
  width: 20px;
  height: 13px;
  top: 15px;
  left: 119px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.minus::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.minus:hover::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 11px;
  height: 3px;
  background-color: #000000;
}

.minus:active::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 11px;
  height: 3px;
  background-color: #81b3d2;
}

.hotels-form input {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.search-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
  padding: 0;
  margin-top: 24px;
}

.input {
  margin: 0;
  position: relative;
  margin-bottom: 31px;
  display: inline-block;
  vertical-align: middle;
}

.search-button:hover {
  background-color: #669ec0;
}

.social-buttons {
  list-style: none;
}

.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.social-button {
  background-color: #81b3d2;
  width: 47px;
  height: 48px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
}

.social-buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: #88b6d1;
}

.hashtag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  margin-left: 33px;
}

.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-logo {
  margin: 0 0 0 8px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  min-height: 120px;
  padding-left: 132px;
  padding-right: 101px;
}

.index-footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: -120px;
  position: relative;
  z-index: 1;
}

.calendar-svg {
  fill: #a9a9a9;
}

.calendar-svg:hover {
  fill: #000000;
}

.calendar-svg:active {
  fill: #81b3d2;
}

 .filters fieldset {
  border: none;
  padding: 0;
}

.field-2 {
  margin: 0 0 0 119px;
}

.field-1 {
  margin: 0;
}

.filter-option {
  padding: 0 0 25px;
}

.filter-range {
  width: 316px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 73px
}

.filter-range-title {
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 31px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 64px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 53px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  margin: -1px 0 0 -1px;
  border: 9px solid #ffffff;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 255px;
}

.button-transparent {
  display: block;
  margin: 0 0 0 83px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 100px;
  padding: 10px 30px;
  border-radius: 3px;
}

.search-form {
  background-image: url("../img/catalog-main-photo.jpg");
  background-color: #3d729c;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 30% 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 189px;
  padding: 29px 0 0 73px;
}

.hotel-item {
  margin: 0;
  list-style: none;
  padding: 23px 0 0;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.title-price {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 30px 0 15px;
}

.features-infra{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  position: relative;
  padding-left: 38px;
}

.features-type{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  position: relative;
  padding-left: 42px;
}


.features-infra::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image:url("../img/checkbox-off.svg");
}

.filter-input:checked + .features-infra::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image:url("../img/checkbox-on.svg");
}

.features-type::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image:url("../img/checkbox-off.svg");
}

.filter-input:checked + .features-type::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image:url("../img/checkbox-on.svg");
}

.filter-input:focus + .features-type {
  outline: 1px dotted #fff;
}

.filter-input:focus + .features-infra {
  outline: 1px dotted #fff;
}

.sorting-results {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 0 46px;
}

.sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 40px;
  padding: 0;
}

.sorting-type {
  margin: 1px 34px 0 0;
}

.sorting-link {
  color: #a9a9a9;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-link:hover {
  color: #81b3d2;
}

.sorting-link:active {
  color: #000000;
  border: none;
}

.active-link {
  color: #81b3d2;
  border: none;
}

.sorting {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 31px 73px 29px 73px;
}

.button-arrow {
  margin-left: auto;
}

.arrow-down {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 8px;
}

.arrow-up {
  border: none;
  background-color: transparent;
  padding: 0;
}

.arrow-down {
  fill: #a9a9a9;
}

.arrow-down:hover {
  fill: #000000;
}

.arrow-down:active {
  fill: #81b3d2;
}

.arrow-up {
  fill: #a9a9a9;
}

.arrow-up:hover {
  fill: #000000;
}

.arrow-up:active {
  fill: #81b3d2;
}

.arrow-active {
  fill: #81b3d2;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px 30px 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-img {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hotel-content {
  margin: 0 0 0 30px;
}

.hotel-price {
  margin: 0;
  padding: 7px 0 13px;
}

.hotel-rating {
  margin-left: auto;
}

.stars {
  text-align: right;
}

.star {
  margin: 0 0 0 2px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: -4px 0 0 0;
}

.hotel-name:hover a {
  color: #81b3d2;
}

.hotel-name:active a {
  color: #a9a9a9;
}

.hotel-info {
  font-size: 14px;
  line-height: 21px;
}

.hotel-price-amara {
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 0 34px;
}

.hotel-price-desert {
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 0 60px;
}

.hotel-price-poco {
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 0 17px;
}

.button-info {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
  background-color: #81b3d2;
  color: #ffffff;
}

.button-info:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-buy {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
  background-color: #766357;
  color: #ffffff;
  margin: 0 0 0 3px;
}

.button-buy:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-buy:active {
  background-color: #503e33;
  color: #857871;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  background-color: #f2f2f2;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 41px 0 0;
  padding: 3px 0;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.html-logo:hover {
  fill: #81b3d2;
}

.html-logo:active {
  fill: #bdbbbc;
}


